// Variables de couleurs
/*
$color-background: #f5f7fa;
$color-header: #1f2937;
$color-main: #e5e7eb;
$color-text: #111827;
$color-session: #ffffff;
$color-exercise: #f3f4f6;
$color-primary: #3b82f6;
$color-secondary: #10b981;
*/
//@use '@/styles/variables' as *;

// Typographie
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

/*
$color-background: #121212;
$color-header: #1e1e1e;
$color-main: #1a1a1a;
$color-text: #f5f5f5;
$color-session: #2c2c2c;
$color-exercise: #383838;
$color-primary: #ff6b6b;
$color-secondary: #4ecdc4;
*/

$color-background: #f0efeb;
$color-header: #a7c5bd;
$color-main: #e6e2dd;
$color-text: #4a4a4a;
$color-session: #ffffff;
$color-exercise: #f6f6f6;
$color-primary: #69b578;
$color-secondary: #8ec0e4;
