@use '@/styles/variables' as *;

.exercise {
  background-color: $color-exercise;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: $color-text;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding: 0;

    &__icon {
      color: #333;
      font-size: 15px;
      cursor: pointer;
    }
  }

  &__content p {
    margin: 7px;
    white-space: nowrap;
  }

  &__content--note {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-style: italic;
    margin: 7px;
  }
}
