@use '@/styles/variables' as *;

.exercise-creator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 350px;
  min-width: 300px;
  background: white;
  border-radius: 15px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 1rem 1.5rem;
    background-color: white;

    &__group {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input,
      textarea {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.8rem 1rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 1rem;
        transition: border 0.3s;
        resize: none;

        &:focus {
          border-color: $color-secondary;
          outline: none;
          box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
        }

        @media (max-width: 600px) {
          padding: 0.5rem 0.5rem;
        }
      }
    }

    &__btn {
      display: flex;
      gap: 10px;
      width: 80%;
      margin-top: 0.5rem;

      &--ind {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 0.5rem;
        background-color: $color-primary;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: background 0.5s;

        &:hover {
          background-color: $color-secondary;
        }
      }
      @media (max-width: 600px) {
        padding: 0.5rem 0.5rem;
        margin-top: 0;
      }
    }
    @media (max-width: 600px) {
      padding: 0;
    }
  }
  @media (max-width: 600px) {
    width: 60%;
  }
}

.exercise-creator__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); // ombre sombre semi-transparente, tu peux ajuster l’opacité
  z-index: 999; // en dessous de la modale elle-même (1000)
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 70%;

  input {
    width: 100%;
    padding-right: 2.5rem; // laisse de la place à l’unité
    box-sizing: border-box;
  }

  .unit {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    font-size: 0.9rem;
  }
}
