@use '@/styles/variables' as *;

.session-list {
  width: 95%;
  min-height: 60vh;
  margin: auto;
  padding: 15px 30px 30px 30px;
  background-color: $color-main;
  border-radius: 20px;

  &__title {
    font-size: 2rem;
    margin: 0 0 15px 0;
  }

  &__create-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: $color-session;
    color: $color-text;
    transition:
      background-color 0.3s ease,
      color 1s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: white;
    }

    &:hover .session-list__create-card__button {
      border: solid 1px white;
    }

    &__button {
      background-color: $color-primary;
      color: white;
      border: 1px solid transparent;
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      min-width: 50px;
      height: 50px;
      transition: border-color 1s ease;
      cursor: pointer;

      &--icon {
        font-size: 2rem;
      }
    }

    p {
      font-weight: 600;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  @media (max-width: 800px) {
    width: 100%;
    border-radius: 0;
  }
}
