@use '@/styles/variables' as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-header;
  color: white;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
}
