@use '@/styles/variables' as *;

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: $color-header;
  color: white;
  padding: 40px 0;
  border-radius: 8px 8px 0 0;

  .footer__p p {
    text-align: center;
    margin: 0;
  }

  .footer__nav {
    justify-self: end;

    ul {
      display: flex;
      justify-self: end;
      gap: 30px;
      font-size: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;

      button {
        background-color: $color-header;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 0;
        cursor: pointer;
      }
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }
    }
  }
  @media (max-width: 1180px) {
    border-radius: 0;
  }
  @media (max-width: 600px) {
    padding: 20px;
  }
}
