@use '@/styles/variables' as *;

.textarea-base {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: border 0.3s;

  &:focus {
    border-color: $color-secondary;
    outline: none;
    box-shadow: 0 0 0 1px rgba(74, 144, 226, 0.2);
  }

  @media (max-width: 600px) {
    padding: 0.5rem 0.5rem;
  }
}

.char-counter {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.5rem;
}
